
services:
  server:
    user: ${USER_NAME}
    hostname: ${HOST_NAME}
    image: ${DOCKER_IMAGE_NAME}
    container_name: metastasis-fastapi-server
    build:
      args:
        USER_ID: ${USER_ID}
        USER_NAME: ${USER_NAME}
      context: .
      dockerfile: ./docker/Dockerfile
    env_file:
      - .envs/.gcp
      - .envs/.mlflow
      - .envs/.uvicorn
    ipc: host
    ports:
      - 8080:8080
    network_mode: host
    init: true
